* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/wall.png");
    /* DEBUG */
    border: 1px solid green;
}

.h1 {
    padding: 10px;
    font-family: "Edu TAS Beginner", cursive;
}

.container {
    height: 100vh;
    background-image: url("../img/cork.png");
}

.card-section {
    width: 90%;
    margin: 0 auto;
    font-family: "Sometype Mono", monospace;
    /* DEBUG */
    border: 1px solid black;
}

.col {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .col {
        width: 50%;
    }
}

@media screen and (max-width: 1280px) {
    .col {
        width: 33.33%;
    }
}