* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-image: url("../img/cork.png");
    font-family: "Sometype Mono", monospace;
}
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/wall.png");
}

.h1 {
    padding: 10px;
    font-family: "Edu TAS Beginner", cursive;
}

#overlay-div {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modal-div {
    background-color: white;
    margin: 0 auto;
  }
  
  #img-in-modal {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }